{% extends 'my_template.html' %}


{% block myblock1 %}
<h1>Welcome !</h1>
<br>
<i>
<p style="font-size: x-large;">A platform where people can put their ideas and thoughts and let them know worldwide.We bring you rich content full of different views ,experiences. You are welcomed here to share your own personal experiences and become an inspiration to others. On this platform, you can spend your time to learn and earn.There is a wide range of topics from technology to old age and many more.You all are invited to register on this blog and can have a great time ahead.   </p>
<p style="font-size: x-large;">If you have created your blog to promote your business, you’ll want to make sure that there’s a page that details the goods and services that you sell. Alternatively, if you already have a website for your business, you can provide a link to it in your menu.</p>
<p style="font-size: x-large;">To give yourself a little liability protection, you ought to consider a disclaimer or policy page.

    For example, if you are writing a health blog, but you’re not a medical professional, you may want to create a disclaimer to say that you are not a physician or other healthcare provider and to recommend that readers see their doctors for medical information and evaluation.</p></i>
{% endblock %}
