{% extends "my_template.html"%}

{% block myblock1 %}

<form  action="/validatelogin" method="post">
    <div class="mb-3">
      <label >Username</label>
      <input type="text" class="form-control" name="uname" required>
    </div>
    <div class="mb-3">
      <label >Password</label>
      <input type="password" class="form-control" name="pw" required>
    </div>
    <!-- <button type="submit" class="btn btn-primary btn-block">Login</button> -->
    <div class="d-grid">
        <button type="submit" class="btn btn-primary btn-block">login</button>
      </div>
  </form>
    <a href="/createaccount" class="text-decoration-none text-white">
        <div class="d-grid mt-3">
        <button type="button" class="btn btn-secondary btn-block">New User? Register Here >></button>
    </div>
    </a>
  

{% endblock %}