{% extends "my_template.html"%}

{% block myblock1 %}
<div class="row">
    <div class="col-lg-2 ">
        <div class="d-grid">

        <button class="btn btn-success mb-3 btn-block"> <a href="/newpost" class="text-decoration-none text-white"> +New Post</a></button>
        <button class="btn btn-success mb-3 btn-block"> <a href="/mypost" class="text-decoration-none text-white">
                    My Posts</a></button>
     </div>
     </div>

    <div class="col-lg-9 " style="border: 1px solid grey; min-height: 100vh;">
        <h3 class="mb-5">My Posts :</h3>
        {% if not len %}
        <h3 class="mb-5" style="font-family:'Times New Roman', Times, serif;"> Currently, there are no Posts</h3>
        {%endif%}
        {%for i in result%}
        <div class="card mb-5 " style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title"> {{i[0]}} </h5>
                <h6 class="card-subtitle mb-2 text-muted"><i>Posted by : {{i[3]}}</i></h6>
                <p class="card-text">{{i[1]}}</p>
                <b>{{i[2]}}</b>
            </div>
        </div>
        {%endfor%}
    </div>
</div>


{% endblock %}