{%extends "my_template.html"%}


{% block myblock1 %}

<h1>New User Registration</h1>

<form  action="/addnewuser" method="post">
    <div class="mb-3">
      <label >Username</label>
      <input type="text" class="form-control" name="uname" required>
    </div>
    <div class="mb-3">
      <label >Password</label>
      <input type="password" class="form-control" name="pw1" required>
    </div>
    <div class="mb-3">
        <label >Re-Enter Password</label>
        <input type="password" class="form-control" name="pw2" required>
      </div>  
      <div class="mb-3">
        <label >Email</label>
        <input type="email" class="form-control" name="email" required>
      </div>        
    <!-- <button type="submit" class="btn btn-primary btn-block">Login</button> -->
        <button type="submit" class="btn btn-primary mb-4">Create Account</button>
  </form>
  <a href="/login" >Already Have Account? Click Here To Login.</a>

{% endblock %}